# `Pre-processing`

## 1 Setup

### 1.1 Libraries

In [1]:
import pandas as pd
import numpy as np

### 1.2 Paths

In [2]:
DEPRESSION_PATH             = '/workspaces/depressao-ibge-pns/data/depression.csv'
DEPRESSION_DICTIONARY_PATH  = '/workspaces/depressao-ibge-pns/data/depression-dictionary.csv'

### 1.3 Dataframes

In [3]:
DEPRESSION            = pd.read_csv(DEPRESSION_PATH, header=[0, 1])
DEPRESSION_DICTIONARY = pd.read_csv(DEPRESSION_DICTIONARY_PATH)

In [4]:
DEPRESSION.head()

,V0001,V0026,V0031,C006,C00703,C008,C009,C01001,C013,C017,...,V033,V034,V03501,V03502,V03503,V036,V037,V038,V039,Y008
,Unidade da Federação,Tipo de situação censitária,Tipo de área,Sexo,Ano de nascimento,Idade do morador na data de referência,Cor ou raça,Cônjuge ou companheiro(a) mora em nesse domicílio.,Cônjuge ou companheiro(a) mora em outro domicílio.,___já viveu com cônjuge ou companheiro (a) antes?,...,Onde isso ocorreu?,"Nos últimos doze meses, você deixou de realizar quaisquer de suas atividades habituais (trabalhar, realizar afazeres domésticos, ir à escola etc.) por causa desse ato","Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Hematomas, cortes, fraturas, queimaduras ou outras lesões físicas ou ferimentos?","Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Medo, tristeza, desânimo, dificuldade para dormir, ansiedade, depressão ou outras consequências psicológicas?","Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Doença sexualmente transmissível ou gravidez indesejada?","Por causa desta (s) consequência (s), você procurou algum atendimento de saúde","Por causa desta (s) consequência (s), você recebeu algum atendimento de saúde",Onde foi realizado este atendimento de saúde,"Por causa desta (s) consequência (s), você precisou ser internado por 24 horas ou mais",Qual é a sua orientação sexual?
0,11,1,1,2.0,1963.0,55.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,11,1,1,1.0,1950.0,69.0,4.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,1,1,1.0,1987.0,31.0,2.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,1,1,1.0,9999.0,9.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,1,1,2.0,9999.0,6.0,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
DEPRESSION_DICTIONARY.head()

,ModuloParteAnotacao,Posicao,Tamanho,Codigo,Numero,Descricao,Dtype,Tipo,Classe,Include,Felipe,Diego
0,Parte 1 - Identificação e Controle,1.0,2.0,V0001,NaN,Unidade da Federação,category,11,Rondônia,True,True,True
1,Parte 1 - Identificação e Controle,NaN,NaN,V0001,NaN,Unidade da Federação,NaN,12,Acre,True,True,True
2,Parte 1 - Identificação e Controle,NaN,NaN,V0001,NaN,Unidade da Federação,NaN,13,Amazonas,True,True,True
3,Parte 1 - Identificação e Controle,NaN,NaN,V0001,NaN,Unidade da Federação,NaN,14,Roraima,True,True,True
4,Parte 1 - Identificação e Controle,NaN,NaN,V0001,NaN,Unidade da Federação,NaN,15,Pará,True,True,True

## 2 [Implicit `NaNs`](https://github.com/feed0/depressao-ibge-pns/issues/4)
> Useless classes such as '09 - Ignored' become NaNs

>Here we define the `depression_explicit`: pd.DataFrame(),<br>
>which will drop useless classes such as **'09 - I don't know'**

In [6]:
# Here, `9999.0` means "Not answered"
DEPRESSION.C00703.value_counts(ascending=False).head(3)

Ano de nascimento
9999.0               16342
2000.0                4434
2004.0                4225
Name: count, dtype: int64

In [7]:
# These are the Tipos we need to annull

tipos_to_remove = DEPRESSION_DICTIONARY[
    (DEPRESSION_DICTIONARY.Tipo.notna())
    & (DEPRESSION_DICTIONARY.Include == False)
]

display(
    tipos_to_remove.shape,
    tipos_to_remove.head(3)
)

(36, 12)

,ModuloParteAnotacao,Posicao,Tamanho,Codigo,Numero,Descricao,Dtype,Tipo,Classe,Include,Felipe,Diego
37,Módulo C - Características gerais dos moradores,NaN,NaN,C00703,C7,Ano de nascimento,NaN,9999,Não informado,False,False,False
46,Módulo C - Características gerais dos moradores,NaN,NaN,C009,C9,Cor ou raça,NaN,9,Ignorado,False,False,False
50,Módulo C - Características gerais dos moradores,NaN,NaN,C01001,C10a,Cônjuge ou companheiro(a) mora em nesse domicí...,NaN,9,Ignorado,False,False,False

In [8]:
# In depression['C00703']   replace 9999    with np.nan
# In depression['C009']     replace 9       with np.nan
# ...
# In depression['Q109']  replace 9       with np.nan

depression_explicit = DEPRESSION.copy()

for codigo in tipos_to_remove.Codigo:
    
    # print(f'    [CODIGO]: {codigo} ==================================================')
    # print(f'    [BEFORE]:\n{depression_explicit[codigo].value_counts(ascending=False).head(3)}\n')

    code_tipos = tipos_to_remove.Tipo[tipos_to_remove.Codigo == codigo].values.astype(int)
    # print(f'    [CODE TIPOS]: === {code_tipos} ===')

    depression_explicit[codigo] = depression_explicit[codigo].replace(code_tipos, np.nan)
    # print(f'    [AFTER]:\n{depression_explicit[codigo].value_counts(ascending=False).head(2)}\n')

In [9]:
# Check the removal of the '9999' values
depression_explicit.C00703.value_counts(ascending=False).head(3)

Ano de nascimento
2000.0               4434
2004.0               4225
2005.0               4180
Name: count, dtype: int64

## 3: [Class `mapping`](https://github.com/feed0/depressao-ibge-pns/issues/7)
depression_without_implicit C00703

### 3.1 Each Codigo has its Tipos to be cast to their corresponding Classes

In [10]:
class_mappings: pd.DataFrame = DEPRESSION_DICTIONARY.loc[DEPRESSION_DICTIONARY['Tipo'].notna(), ['Codigo', 'Tipo', 'Classe']]
class_mappings.head()

  Codigo Tipo    Classe
0  V0001   11  Rondônia
1  V0001   12      Acre
2  V0001   13  Amazonas
3  V0001   14   Roraima
4  V0001   15      Pará

### 3.2 Remove comments from class_mappings.Tipo

In [11]:
# Tipos which contain comments
non_numeric_tipos: pd.DataFrame = class_mappings[class_mappings['Tipo'].str.contains(r'[a-zA-Z]')]
non_numeric_tipos

     Codigo                         Tipo           Classe
36   C00703  ano atual - 130 a ano atual              Ano
39     C008                    000 a 130  Idade (em anos)
63   C01801                    000 a 130  Idade (em anos)
150  P00103                      1 a 599      Quilogramas
152  P00104                      1 a 599      Quilogramas
159  P02801                        1 a 7             Dias
167    P035                        1 a 7             Dias
188    P053                       1 a 98             Anos

In [12]:
# Annull these comments in class_mappings
class_mappings['Tipo'] = class_mappings['Tipo'].replace(r'[a-zA-Z]', np.nan, regex=True)

# Check the annullation
class_mappings[class_mappings['Tipo'].isna()]

     Codigo Tipo           Classe
36   C00703  NaN              Ano
39     C008  NaN  Idade (em anos)
63   C01801  NaN  Idade (em anos)
150  P00103  NaN      Quilogramas
152  P00104  NaN      Quilogramas
159  P02801  NaN             Dias
167    P035  NaN             Dias
188    P053  NaN             Anos

In [13]:
# Drop these new null from class_mappings
class_mappings = class_mappings.dropna(subset=['Tipo'])

# Check the drop
class_mappings[class_mappings['Tipo'].isna()]

Empty DataFrame
Columns: [Codigo, Tipo, Classe]
Index: []

### 3 `Map` Tipos to Classes

In [14]:
# Cast to int
class_mappings['Tipo'] = class_mappings['Tipo'].astype(int)

# These are the Tipos we need to map to their corresponding Classes
display(
    "[Class Mappings]",class_mappings.Tipo.shape, class_mappings.head(3),
    "[Depression]", depression_explicit.shape, depression_explicit.head(3),
)

'[Class Mappings]'

(339,)

  Codigo  Tipo    Classe
0  V0001    11  Rondônia
1  V0001    12      Acre
2  V0001    13  Amazonas

'[Depression]'

(293726, 83)

,V0001,V0026,V0031,C006,C00703,C008,C009,C01001,C013,C017,...,V033,V034,V03501,V03502,V03503,V036,V037,V038,V039,Y008
,Unidade da Federação,Tipo de situação censitária,Tipo de área,Sexo,Ano de nascimento,Idade do morador na data de referência,Cor ou raça,Cônjuge ou companheiro(a) mora em nesse domicílio.,Cônjuge ou companheiro(a) mora em outro domicílio.,___já viveu com cônjuge ou companheiro (a) antes?,...,Onde isso ocorreu?,"Nos últimos doze meses, você deixou de realizar quaisquer de suas atividades habituais (trabalhar, realizar afazeres domésticos, ir à escola etc.) por causa desse ato","Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Hematomas, cortes, fraturas, queimaduras ou outras lesões físicas ou ferimentos?","Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Medo, tristeza, desânimo, dificuldade para dormir, ansiedade, depressão ou outras consequências psicológicas?","Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Doença sexualmente transmissível ou gravidez indesejada?","Por causa desta (s) consequência (s), você procurou algum atendimento de saúde","Por causa desta (s) consequência (s), você recebeu algum atendimento de saúde",Onde foi realizado este atendimento de saúde,"Por causa desta (s) consequência (s), você precisou ser internado por 24 horas ou mais",Qual é a sua orientação sexual?
0,11,1,1,2.0,1963.0,55.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,11,1,1,1.0,1950.0,69.0,4.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,1,1,1.0,1987.0,31.0,2.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Map the Tipos to their corresponding Classes

columns = depression_explicit.columns.get_level_values(0).to_list()
class_mappings.loc[class_mappings['Codigo'] == columns[0], ['Tipo', 'Classe']]

for codigo in columns:

    print(f'    [COLUMN]: {codigo} ==================================================')
    print(f'    [BEFORE]:\n{depression_explicit[codigo].value_counts(ascending=False).head(3)}\n')

    # Mappings for the current column
    mappings = class_mappings.loc[class_mappings['Codigo'] == codigo, ['Tipo', 'Classe']]
    display(mappings)

    # Mappings for the current column
    depression_explicit[codigo] = depression_explicit[codigo].replace(
        mappings['Tipo'].values.astype(int),
        mappings['Classe'].values
    )

    print(f'    [AFTER]:\n{depression_explicit[codigo].value_counts(ascending=False).head(3)}\n')

    [COLUMN]: V0001 ==================================================
    [BEFORE]:
Unidade da Federação
35                      18504
21                      17912
31                      15421
Name: count, dtype: int64

    Tipo               Classe
0     11             Rondônia
1     12                 Acre
2     13             Amazonas
3     14              Roraima
4     15                 Pará
5     16                Amapá
6     17            Tocantins
7     21             Maranhão
8     22                Piauí
9     23                Ceará
10    24  Rio Grande do Norte
11    25              Paraíba
12    26           Pernambuco
13    27              Alagoas
14    28              Sergipe
15    29                Bahia
16    31         Minas Gerais
17    32       Espírito Santo
18    33       Rio de Janeiro
19    35            São Paulo
20    41               Paraná
21    42       Santa Catarina
22    43    Rio Grande do Sul
23    50   Mato Grosso do Sul
24    51          Mato Grosso
25    52                Goiás
26    53     Distrito Federal

    [AFTER]:
Unidade da Federação
São Paulo               18504
Maranhão                17912
Minas Gerais            15421
Name: count, dtype: int64

    [COLUMN]: V0026 ==================================================
    [BEFORE]:
Tipo de situação censitária
1                              224159
2                               69567
Name: count, dtype: int64

    Tipo  Classe
27     1  Urbano
28     2   Rural

    [AFTER]:
Tipo de situação censitária
Urbano                         224159
Rural                           69567
Name: count, dtype: int64

    [COLUMN]: V0031 ==================================================
    [BEFORE]:
Tipo de área
4               139147
1               107845
2                44034
Name: count, dtype: int64

    Tipo                                             Classe
29     1                                            Capital
30     2  Resto da RM (Região Metropolitana, excluindo a...
31     3                         RIDE (excluindo a capital)
32     4  Resto da UF (Unidade da Federação, excluindo a...

    [AFTER]:
Tipo de área
Resto da UF (Unidade da Federação, excluindo a região metropolitana e RIDE)    139147
Capital                                                                        107845
Resto da RM (Região Metropolitana, excluindo a capital)                         44034
Name: count, dtype: int64

    [COLUMN]: C006 ==================================================
    [BEFORE]:
Sexo
2.0     144940
1.0     134442
Name: count, dtype: int64

    Tipo  Classe
33     1   Homem
34     2  Mulher

    [AFTER]:
Sexo
Mulher    144940
Homem     134442
Name: count, dtype: int64

    [COLUMN]: C00703 ==================================================
    [BEFORE]:
Ano de nascimento
2000.0               4434
2004.0               4225
2005.0               4180
Name: count, dtype: int64

    Tipo         Classe
37  9999  Não informado

    [AFTER]:
Ano de nascimento
2000.0               4434
2004.0               4225
2005.0               4180
Name: count, dtype: int64

    [COLUMN]: C008 ==================================================
    [BEFORE]:
Idade do morador na data de referência
18.0                                      4667
19.0                                      4508
14.0                                      4468
Name: count, dtype: int64

Empty DataFrame
Columns: [Tipo, Classe]
Index: []

    [AFTER]:
Idade do morador na data de referência
18.0                                      4667
19.0                                      4508
14.0                                      4468
Name: count, dtype: int64

    [COLUMN]: C009 ==================================================
    [BEFORE]:
Cor ou raça
4.0            148273
1.0             99019
2.0             28304
Name: count, dtype: int64

    Tipo    Classe
41     1    Branca
42     2     Preta
43     3   Amarela
44     4    Parda
45     5  Indígena
46     9  Ignorado

    [AFTER]:
Cor ou raça
Parda          148273
Branca          99019
Preta           28304
Name: count, dtype: int64

    [COLUMN]: C01001 ==================================================
    [BEFORE]:
Cônjuge ou companheiro(a) mora em nesse domicílio.
1.0                                                   122912
2.0                                                   119532
Name: count, dtype: int64

    Tipo    Classe
48     1       Sim
49     2       Não
50     9  Ignorado

    [AFTER]:
Cônjuge ou companheiro(a) mora em nesse domicílio.
Sim                                                   122912
Não                                                   119532
Name: count, dtype: int64

    [COLUMN]: C013 ==================================================
    [BEFORE]:
Cônjuge ou companheiro(a) mora em outro domicílio.
2.0                                                   114348
1.0                                                     5184
Name: count, dtype: int64

    Tipo    Classe
52     1       Sim
53     2       Não
54     9  Ignorado

    [AFTER]:
Cônjuge ou companheiro(a) mora em outro domicílio.
Não                                                   114348
Sim                                                     5184
Name: count, dtype: int64

    [COLUMN]: C017 ==================================================
    [BEFORE]:
___já viveu com cônjuge ou companheiro (a) antes?
2.0                                                  76979
1.0                                                  37369
Name: count, dtype: int64

    Tipo    Classe
56     1       Sim
57     2       Não
58     9  Ignorado

    [AFTER]:
___já viveu com cônjuge ou companheiro (a) antes?
Não                                                  76979
Sim                                                  37369
Name: count, dtype: int64

    [COLUMN]: C018 ==================================================
    [BEFORE]:
Que idade ___tinha quando começou a viver com seu(sua) primeiro(a)/único(a) marido (mulher) ou companheiro(a)?
1.0                                                                                                               149637
Name: count, dtype: int64

    Tipo               Classe
60     1                Idade
61     2  Não sabe/não lembra

    [AFTER]:
Que idade ___tinha quando começou a viver com seu(sua) primeiro(a)/único(a) marido (mulher) ou companheiro(a)?
Idade                                                                                                             149637
Name: count, dtype: int64

    [COLUMN]: C01801 ==================================================
    [BEFORE]:
Que idade ___tinha quando começou a viver com seu(sua) primeiro(a)/único(a) marido (mulher) ou companheiro(a)?
18.0                                                                                                              13286
20.0                                                                                                              12186
19.0                                                                                                              11922
Name: count, dtype: int64

Empty DataFrame
Columns: [Tipo, Classe]
Index: []

    [AFTER]:
Que idade ___tinha quando começou a viver com seu(sua) primeiro(a)/único(a) marido (mulher) ou companheiro(a)?
18.0                                                                                                              13286
20.0                                                                                                              12186
19.0                                                                                                              11922
Name: count, dtype: int64

    [COLUMN]: C011 ==================================================
    [BEFORE]:
Qual é o estado civil de ___?
4.0                              133751
1.0                               83314
2.0                               12820
Name: count, dtype: int64

    Tipo                                             Classe
65     1                                          Casado(a)
66     2  Divorciado(a) ou desquitado(a) ou separado(a) ...
67     3                                           Viúvo(a)
68     4                                        Solteiro(a)
69     9                                           Ignorado

    [AFTER]:
Qual é o estado civil de ___?
Solteiro(a)                                                    133751
Casado(a)                                                       83314
Divorciado(a) ou desquitado(a) ou separado(a) judicialmente     12820
Name: count, dtype: int64

    [COLUMN]: D00901 ==================================================
    [BEFORE]:
Qual foi o curso mais elevado que ___frequentou
10.0                                               63175
7.0                                                46411
12.0                                               24223
Name: count, dtype: int64

    Tipo                                             Classe
71     1                                             Creche
72     2                                        Pré-escola
73     3                      Classe de alfabetização – CA
74     4                  Alfabetização de jovens e adultos
75     5                        Antigo primário (elementar)
76     6                   Antigo ginasial (médio 1º ciclo)
77     7       Regular do ensino fundamental ou do 1º grau
78     8  Educação de jovens e adultos (EJA) ou supletiv...
79     9  Antigo científico, clássico etc. (médio 2º ciclo)
80    10              Regular do ensino médio ou do 2º grau
81    11  Educação de jovens e adultos (EJA) ou supletiv...
82    12                               Superior – graduação
83    13  Especialização de nível superior (duração míni...
84    14                                           Mestrado
85    15                                          Doutorado
86    99                                           Ignorado

    [AFTER]:
Qual foi o curso mais elevado que ___frequentou
Regular do ensino médio ou do 2º grau              63175
Regular do ensino fundamental ou do 1º grau        46411
Superior – graduação                               24223
Name: count, dtype: int64

    [COLUMN]: I00102 ==================================================
    [BEFORE]:
tem algum plano de saúde médico particular, de empresa ou órgão público?
2.0                                                                         220785
1.0                                                                          58597
Name: count, dtype: int64

    Tipo    Classe
88     1       Sim
89     2       Não
90     9  Ignorado

    [AFTER]:
tem algum plano de saúde médico particular, de empresa ou órgão público?
Não                                                                         220785
Sim                                                                          58597
Name: count, dtype: int64

    [COLUMN]: I005 ==================================================
    [BEFORE]:
Há quanto tempo sem interrupção _____ possui esse plano de saúde (único ou principal)?
4.0                                                                                       45953
3.0                                                                                        4894
1.0                                                                                        3962
Name: count, dtype: int64

    Tipo                     Classe
92     1                Até 6 meses
93     2  Mais de 6 meses até 1 ano
94     3   Mais de 1 ano até 2 anos
95     4             Mais de 2 anos
96     9                   Ignorado

    [AFTER]:
Há quanto tempo sem interrupção _____ possui esse plano de saúde (único ou principal)?
Mais de 2 anos                                                                            45953
Mais de 1 ano até 2 anos                                                                   4894
Até 6 meses                                                                                3962
Name: count, dtype: int64

    [COLUMN]: I00401 ==================================================
    [BEFORE]:
O plano de saúde (único ou principal) de assistência médica que ___ possui dá direito a consultas
1.0                                                                                                  31331
2.0                                                                                                    296
Name: count, dtype: int64

     Tipo    Classe
98      1       Sim
99      2       Não
100     9  Ignorado

    [AFTER]:
O plano de saúde (único ou principal) de assistência médica que ___ possui dá direito a consultas
Sim                                                                                                  31331
Não                                                                                                    296
Name: count, dtype: int64

    [COLUMN]: I00403 ==================================================
    [BEFORE]:
O plano de saúde (único ou principal) de assistência médica que ___ possui dá direito a internações
1.0                                                                                                    29066
2.0                                                                                                     2561
Name: count, dtype: int64

     Tipo    Classe
102     1       Sim
103     2       Não
104     9  Ignorado

    [AFTER]:
O plano de saúde (único ou principal) de assistência médica que ___ possui dá direito a internações
Sim                                                                                                    29066
Não                                                                                                     2561
Name: count, dtype: int64

    [COLUMN]: I00404 ==================================================
    [BEFORE]:
O plano de saúde (único ou principal) de assistência médica que ___ possui dá direito a partos
1.0                                                                                               24322
2.0                                                                                                7305
Name: count, dtype: int64

     Tipo    Classe
106     1       Sim
107     2       Não
108     9  Ignorado

    [AFTER]:
O plano de saúde (único ou principal) de assistência médica que ___ possui dá direito a partos
Sim                                                                                               24322
Não                                                                                                7305
Name: count, dtype: int64

    [COLUMN]: M005010 ==================================================
    [BEFORE]:
No(s) seu(s) trabalho(s), habitualmente, (s) o(a) Sr(a) trabalha(va) algum período de tempo entre as 8 horas da noite e às 5 horas da manhã
2.0                                                                                                                                            46184
1.0                                                                                                                                             6648
Name: count, dtype: int64

     Tipo Classe
110     1    Sim
111     2    Não

    [AFTER]:
No(s) seu(s) trabalho(s), habitualmente, (s) o(a) Sr(a) trabalha(va) algum período de tempo entre as 8 horas da noite e às 5 horas da manhã
Não                                                                                                                                            46184
Sim                                                                                                                                             6648
Name: count, dtype: int64

    [COLUMN]: M009 ==================================================
    [BEFORE]:
O(a) Sr(a) normalmente trabalha(va) em ambientes
1.0                                                 26115
2.0                                                 16132
3.0                                                 10585
Name: count, dtype: int64

     Tipo    Classe
113     1  Fechados
114     2   Abertos
115     3    Ambos

    [AFTER]:
O(a) Sr(a) normalmente trabalha(va) em ambientes
Fechados                                            26115
Abertos                                             16132
Ambos                                               10585
Name: count, dtype: int64

    [COLUMN]: M01401 ==================================================
    [BEFORE]:
Com quantos familiares ou parentes ___ pode contar em momentos bons ou ruins
3.0                                                                             61233
2.0                                                                             15512
1.0                                                                              9786
Name: count, dtype: int64

     Tipo        Classe
117     0        Nenhum
118     1            Um
119     2          Dois
120     3  Três ou mais

    [AFTER]:
Com quantos familiares ou parentes ___ pode contar em momentos bons ou ruins
Três ou mais                                                                    61233
Dois                                                                            15512
Um                                                                               9786
Name: count, dtype: int64

    [COLUMN]: M01501 ==================================================
    [BEFORE]:
Com quantos amigos próximos ___ pode contar em momentos bons ou ruins (Sem considerar os familiares ou parentes
3.0                                                                                                                42156
0.0                                                                                                                20321
2.0                                                                                                                17003
Name: count, dtype: int64

     Tipo        Classe
122     0        Nenhum
123     1            Um
124     2          Dois
125     3  Três ou mais

    [AFTER]:
Com quantos amigos próximos ___ pode contar em momentos bons ou ruins (Sem considerar os familiares ou parentes
Três ou mais                                                                                                       42156
Nenhum                                                                                                             20321
Dois                                                                                                               17003
Name: count, dtype: int64

    [COLUMN]: M01601 ==================================================
    [BEFORE]:
Nos últimos doze meses, com que frequência o(a) Sr(a) se reuniu com outras pessoas para prática de atividades esportivas, exercícios físicos, recreativos ou artísticos
6.0                                                                                                                                                                        48465
1.0                                                                                                                                                                        16621
4.0                                                                                                                                                                        10132
Name: count, dtype: int64

     Tipo                      Classe
127     1  Mais de uma vez por semana
128     2          Uma vez por semana
129     3      De 2 a 3 vezes por mês
130     4        Algumas vezes no ano
131     5              Uma vez no ano
132     6                 Nenhuma vez

    [AFTER]:
Nos últimos doze meses, com que frequência o(a) Sr(a) se reuniu com outras pessoas para prática de atividades esportivas, exercícios físicos, recreativos ou artísticos
Nenhuma vez                                                                                                                                                                48465
Mais de uma vez por semana                                                                                                                                                 16621
Algumas vezes no ano                                                                                                                                                       10132
Name: count, dtype: int64

    [COLUMN]: M01901 ==================================================
    [BEFORE]:
Nos últimos doze meses, com que frequência o(a) Sr(a) compareceu a atividades coletivas da sua religião ou de outra religião sem contar com situações como casamento, batizado, ou enterro)
6.0                                                                                                                                                                                            27637
2.0                                                                                                                                                                                            18692
4.0                                                                                                                                                                                            17978
Name: count, dtype: int64

     Tipo                      Classe
134     1  Mais de uma vez por semana
135     2          Uma vez por semana
136     3      De 2 a 3 vezes por mês
137     4        Algumas vezes no ano
138     5              Uma vez no ano
139     6                 Nenhuma vez

    [AFTER]:
Nos últimos doze meses, com que frequência o(a) Sr(a) compareceu a atividades coletivas da sua religião ou de outra religião sem contar com situações como casamento, batizado, ou enterro)
Nenhuma vez                                                                                                                                                                                    27637
Uma vez por semana                                                                                                                                                                             18692
Algumas vezes no ano                                                                                                                                                                           17978
Name: count, dtype: int64

    [COLUMN]: N016 ==================================================
    [BEFORE]:
Nas duas últimas semanas, com que frequência o(a) Sr(a) se sentiu deprimido(a), “pra baixo” ou sem perspectiva?
1.0                                                                                                                66294
2.0                                                                                                                15888
4.0                                                                                                                 4340
Name: count, dtype: int64

     Tipo                    Classe
141     1                Nenhum dia
142     2  Menos da metade dos dias
143     3   Mais da metade dos dias
144     4          Quase todos dias
145     9                  Ignorado

    [AFTER]:
Nas duas últimas semanas, com que frequência o(a) Sr(a) se sentiu deprimido(a), “pra baixo” ou sem perspectiva?
 Nenhum dia                                                                                                        66294
Menos da metade dos dias                                                                                           15888
Quase todos dias                                                                                                    4340
Name: count, dtype: int64

    [COLUMN]: P00102 ==================================================
    [BEFORE]:
O(A) Sr(a) sabe seu peso?
1.0                          83976
2.0                           6870
Name: count, dtype: int64

     Tipo               Classe
147     1                  Sim
148     2  Não sabe/Não lembra

    [AFTER]:
O(A) Sr(a) sabe seu peso?
Sim                          83976
Não sabe/Não lembra           6870
Name: count, dtype: int64

    [COLUMN]: P00103 ==================================================
    [BEFORE]:
Peso - Informado (em kg)(3 inteiros e 1 casa decimal)
65.0                                                     3360
70.0                                                     3253
60.0                                                     2873
Name: count, dtype: int64

Empty DataFrame
Columns: [Tipo, Classe]
Index: []

    [AFTER]:
Peso - Informado (em kg)(3 inteiros e 1 casa decimal)
65.0                                                     3360
70.0                                                     3253
60.0                                                     2873
Name: count, dtype: int64

    [COLUMN]: P00104 ==================================================
    [BEFORE]:
Peso - Final (em kg)(3 inteiros e 1 casa decimal)
65.0                                                 3606
70.0                                                 3440
60.0                                                 3107
Name: count, dtype: int64

Empty DataFrame
Columns: [Tipo, Classe]
Index: []

    [AFTER]:
Peso - Final (em kg)(3 inteiros e 1 casa decimal)
65.0                                                 3606
70.0                                                 3440
60.0                                                 3107
Name: count, dtype: int64

    [COLUMN]: P027 ==================================================
    [BEFORE]:
Com que frequência o(a) Sr(a) costuma consumir alguma bebida alcoólica?
1.0                                                                        55430
3.0                                                                        24323
2.0                                                                        11093
Name: count, dtype: int64

     Tipo                    Classe
154     1            Não bebo nunca
155     2  Menos de uma vez por mês
156     3   Uma vez ou mais por mês
157     9                  Ignorado

    [AFTER]:
Com que frequência o(a) Sr(a) costuma consumir alguma bebida alcoólica?
Não bebo nunca                                                             55430
Uma vez ou mais por mês                                                    24323
Menos de uma vez por mês                                                   11093
Name: count, dtype: int64

    [COLUMN]: P02801 ==================================================
    [BEFORE]:
Quantos dias por semana o(a) Sr(a) costuma consumir alguma bebida alcoólica?
1.0                                                                             9783
2.0                                                                             6339
0.0                                                                             3217
Name: count, dtype: int64

     Tipo                                Classe
160     0  Nunca ou menos de uma vez por semana
161     9                              Ignorado

    [AFTER]:
Quantos dias por semana o(a) Sr(a) costuma consumir alguma bebida alcoólica?
1.0                                                                             9783
2.0                                                                             6339
Nunca ou menos de uma vez por semana                                            3217
Name: count, dtype: int64

    [COLUMN]: P034 ==================================================
    [BEFORE]:
Nos últimos três meses, o(a) Sr(a) praticou algum tipo de exercício físico ou esporte?
2.0                                                                                       54448
1.0                                                                                       36398
Name: count, dtype: int64

     Tipo    Classe
163     1       Sim
164     2       Não
165     9  Ignorado

    [AFTER]:
Nos últimos três meses, o(a) Sr(a) praticou algum tipo de exercício físico ou esporte?
Não                                                                                       54448
Sim                                                                                       36398
Name: count, dtype: int64

    [COLUMN]: P035 ==================================================
    [BEFORE]:
Quantos dias por semana o(a) Sr(a) costuma  (costumava)praticar exercício físico ou esporte?
3.0                                                                                             8376
2.0                                                                                             6750
5.0                                                                                             6336
Name: count, dtype: int64

     Tipo                                Classe
168     0  Nunca ou menos de uma vez por semana
169     9                              Ignorado

    [AFTER]:
Quantos dias por semana o(a) Sr(a) costuma  (costumava)praticar exercício físico ou esporte?
3.0                                                                                             8376
2.0                                                                                             6750
5.0                                                                                             6336
Name: count, dtype: int64

    [COLUMN]: P039 ==================================================
    [BEFORE]:
No seu trabalho, o(a) Sr(a) faz faxina pesada, carrega peso ou faz outra atividade pesada que requer esforço físico intenso?
2.0                                                                                                                             38791
1.0                                                                                                                             14041
Name: count, dtype: int64

     Tipo    Classe
171     1       Sim
172     2       Não
173     9  Ignorado

    [AFTER]:
No seu trabalho, o(a) Sr(a) faz faxina pesada, carrega peso ou faz outra atividade pesada que requer esforço físico intenso?
Não                                                                                                                             38791
Sim                                                                                                                             14041
Name: count, dtype: int64

    [COLUMN]: P044 ==================================================
    [BEFORE]:
Nas suas atividades domésticas, o(a) Sr(a) faz faxina pesada, carrega peso ou faz outra atividade pesada que requer esforço físico intenso? (não considerar atividade doméstica remunerada)
2.0                                                                                                                                                                                            77735
1.0                                                                                                                                                                                            13111
Name: count, dtype: int64

     Tipo    Classe
175     1       Sim
176     2       Não
177     9  Ignorado

    [AFTER]:
Nas suas atividades domésticas, o(a) Sr(a) faz faxina pesada, carrega peso ou faz outra atividade pesada que requer esforço físico intenso? (não considerar atividade doméstica remunerada)
Não                                                                                                                                                                                            77735
Sim                                                                                                                                                                                            13111
Name: count, dtype: int64

    [COLUMN]: P050 ==================================================
    [BEFORE]:
Atualmente, o(a) Sr(a) fuma algum produto do tabaco?
3.0                                                     79460
1.0                                                     10200
2.0                                                      1186
Name: count, dtype: int64

     Tipo                      Classe
179     1            Sim, diariamente
180     2  Sim, menos que diariamente
181     3         Não fumo atualmente
182     9                    Ignorado

    [AFTER]:
Atualmente, o(a) Sr(a) fuma algum produto do tabaco?
Não fumo atualmente                                     79460
Sim, diariamente                                        10200
Sim, menos que diariamente                               1186
Name: count, dtype: int64

    [COLUMN]: P051 ==================================================
    [BEFORE]:
E no passado, o(a) Sr(a) fumou algum produto do tabaco diariamente?
1.0                                                                    627
2.0                                                                    559
Name: count, dtype: int64

     Tipo    Classe
184     1       Sim
185     2       Não
186     9  Ignorado

    [AFTER]:
E no passado, o(a) Sr(a) fumou algum produto do tabaco diariamente?
Sim                                                                    627
Não                                                                    559
Name: count, dtype: int64

    [COLUMN]: P053 ==================================================
    [BEFORE]:
Que idade o(a) Sr(a) tinha quando começou a fumar produto de tabaco diariamente?
15.0                                                                                4446
18.0                                                                                3589
16.0                                                                                2792
Name: count, dtype: int64

     Tipo    Classe
189    99  Ignorado

    [AFTER]:
Que idade o(a) Sr(a) tinha quando começou a fumar produto de tabaco diariamente?
15.0                                                                                4446
18.0                                                                                3589
16.0                                                                                2792
Name: count, dtype: int64

    [COLUMN]: P06701 ==================================================
    [BEFORE]:
O(a) Sr(a) usa aparelhos eletrônicos com nicotina líquida ou folha de tabaco picado (cigarro eletrônico, narguilé eletrônico, cigarro aquecido ou outro dispositivo eletrônico para fumar ou vaporizar)?
4.0                                                                                                                                                                                                         89951
3.0                                                                                                                                                                                                           556
2.0                                                                                                                                                                                                           276
Name: count, dtype: int64

     Tipo                         Classe
191     1               Sim, diariamente
192     2  Sim, menos do que diariamente
193     3    Não, mas já usei no passado
194     4                     Nunca usei
195     9                       Ignorado

    [AFTER]:
O(a) Sr(a) usa aparelhos eletrônicos com nicotina líquida ou folha de tabaco picado (cigarro eletrônico, narguilé eletrônico, cigarro aquecido ou outro dispositivo eletrônico para fumar ou vaporizar)?
Nunca usei                                                                                                                                                                                                  89951
Não, mas já usei no passado                                                                                                                                                                                   556
Sim, menos do que diariamente                                                                                                                                                                                 276
Name: count, dtype: int64

    [COLUMN]: Q092 ==================================================
    [BEFORE]:
Algum médico ou profissional de saúde mental (como psiquiatra ou psicólogo) já lhe deu o diagnóstico de depressão?
2.0                                                                                                                   82514
1.0                                                                                                                    8332
Name: count, dtype: int64

     Tipo    Classe
197     1       Sim
198     2       Não
199     9  Ignorado

    [AFTER]:
Algum médico ou profissional de saúde mental (como psiquiatra ou psicólogo) já lhe deu o diagnóstico de depressão?
Não                                                                                                                   82514
Sim                                                                                                                    8332
Name: count, dtype: int64

    [COLUMN]: Q09201 ==================================================
    [BEFORE]:
Algum médico já lhe receitou algum medicamento para depressão?
1.0                                                               7551
2.0                                                                750
Name: count, dtype: int64

     Tipo                  Classe
201     1                     Sim
202     2                     Não
203     3  Não sabe/não respondeu

    [AFTER]:
Algum médico já lhe receitou algum medicamento para depressão?
Sim                                                               7551
Não                                                                750
Name: count, dtype: int64

    [COLUMN]: Q09202 ==================================================
    [BEFORE]:
Nas duas últimas semanas o(a) senhor(a) usou algum medicamento para depressão?
3.0                                                                               4439
1.0                                                                               3615
2.0                                                                                243
Name: count, dtype: int64

     Tipo                        Classe
205     1  Sim, todos
206     2                   Sim, alguns
207     3                   Não, nenhum
208     4        Não sabe/não respondeu

    [AFTER]:
Nas duas últimas semanas o(a) senhor(a) usou algum medicamento para depressão?
Não, nenhum                                                                       4439
Sim, todos                                                                        3615
Sim, alguns                                                                        243
Name: count, dtype: int64

    [COLUMN]: Q094 ==================================================
    [BEFORE]:
O(A) Sr(a) vai ao médico/serviço de saúde regularmente por causa da depressão ou só quando tem algum problema?
1.0                                                                                                               3023
2.0                                                                                                               2819
3.0                                                                                                               2490
Name: count, dtype: int64

     Tipo                              Classe
210     1                                 Sim
211     2  Não, só quando tem algum problema
212     3                          Nunca vai
213     9                            Ignorado

    [AFTER]:
O(A) Sr(a) vai ao médico/serviço de saúde regularmente por causa da depressão ou só quando tem algum problema?
Sim                                                                                                               3023
Não, só quando tem algum problema                                                                                 2819
Nunca vai                                                                                                         2490
Name: count, dtype: int64

    [COLUMN]: Q09502 ==================================================
    [BEFORE]:
Qual o principal motivo do(a) Sr(a) não visitar o médico/serviço de saúde regularmente por causa da depressão?
1.0                                                                                                               3614
3.0                                                                                                                413
9.0                                                                                                                397
Name: count, dtype: int64

     Tipo                                             Classe
215     1                            Não está mais deprimido
216     2  O serviço de saúde é distante ou tem dificulda...
217     3                                      Não tem ânimo
218     4  O tempo de espera no serviço de saúde é muito ...
219     5                       Tem dificuldades financeiras
220     6  O horário de funcionamento do serviço de saúde...
221     7  Não conseguiu marcar consulta pelo plano de sa...
222     8                 Não sabe quem procurar ou aonde ir
223     9                                             Outro
224    99                                           Ignorado

    [AFTER]:
Qual o principal motivo do(a) Sr(a) não visitar o médico/serviço de saúde regularmente por causa da depressão?
Não está mais deprimido                                                                                           3614
Não tem ânimo                                                                                                      413
Outro                                                                                                              397
Name: count, dtype: int64

    [COLUMN]: Q09605 ==================================================
    [BEFORE]:
Por causa da depressão Faz psicoterapia
2.0                                        6739
1.0                                        1593
Name: count, dtype: int64

     Tipo    Classe
226     1       Sim
227     2       Não
228     9  Ignorado

    [AFTER]:
Por causa da depressão Faz psicoterapia
Não                                        6739
Sim                                        1593
Name: count, dtype: int64

    [COLUMN]: Q09606 ==================================================
    [BEFORE]:
Por causa da depressão Toma medicamentos
1.0                                         4348
2.0                                         3984
Name: count, dtype: int64

     Tipo    Classe
230     1       Sim
231     2       Não
232     9  Ignorado

    [AFTER]:
Por causa da depressão Toma medicamentos
Sim                                         4348
Não                                         3984
Name: count, dtype: int64

    [COLUMN]: Q098 ==================================================
    [BEFORE]:
Algum dos medicamentos para depressão foi obtido em serviço público de saúde?
3.0                                                                              2549
1.0                                                                              1257
2.0                                                                               542
Name: count, dtype: int64

     Tipo                        Classe
234     1  Sim, todos
235     2                   Sim, alguns
236     3                   Não, nenhum
237     9                      Ignorado

    [AFTER]:
Algum dos medicamentos para depressão foi obtido em serviço público de saúde?
Não, nenhum                                                                      2549
Sim, todos                                                                       1257
Sim, alguns                                                                       542
Name: count, dtype: int64

    [COLUMN]: Q10101 ==================================================
    [BEFORE]:
Quando foi a última vez que o(a) Sr(a) recebeu atendimento médico por causa da depressão?
1.0                                                                                          3326
5.0                                                                                          2794
2.0                                                                                           878
Name: count, dtype: int64

     Tipo                       Classe
239     1             Menos de 6 meses
240     2  De 6 meses a menos de 1 ano
241     3  De 1 ano a menos de  2 anos
242     4  De 2 anos a menos de 3 anos
243     5               3 anos ou mais
244     6                    Nunca fez
245     9                     Ignorado

    [AFTER]:
Quando foi a última vez que o(a) Sr(a) recebeu atendimento médico por causa da depressão?
Menos de 6 meses                                                                             3326
3 anos ou mais                                                                               2794
De 6 meses a menos de 1 ano                                                                   878
Name: count, dtype: int64

    [COLUMN]: Q10202 ==================================================
    [BEFORE]:
Na última vez que recebeu assistência médica para depressão, onde o(a) Sr(a) foi atendido?
6.0                                                                                           2411
2.0                                                                                           1725
3.0                                                                                            433
Name: count, dtype: int64

     Tipo                                             Classe
247     1                                           Farmácia
248     2  Unidade básica de saúde (posto ou centro de sa...
249     3  Policlínica pública, PAM (Posto de Assistência...
250     4  UPA (Unidade de Pronto Atendimento), outro tip...
251     5                    Ambulatório de hospital público
252     6  Consultório particular, clínica privada ou amb...
253     7  Pronto atendimento ou emergência de hospital p...
254     8                                       No domicílio
255     9                                      Outro serviço
256    99                                           Ignorado

    [AFTER]:
Na última vez que recebeu assistência médica para depressão, onde o(a) Sr(a) foi atendido?
Consultório particular, clínica privada ou ambulatório de hospital privado                    2411
Unidade básica de saúde (posto ou centro de saúde ou unidade de saúde da família)             1725
Policlínica pública, PAM (Posto de Assistência Médica) ou Centro de Especialidades público     433
Name: count, dtype: int64

    [COLUMN]: Q106 ==================================================
    [BEFORE]:
Em algum dos atendimentos para depressão, houve encaminhamento para algum acompanhamento com profissional de saúde mental, como psiquiatra ou psicólogo?
1.0                                                                                                                                                         2020
3.0                                                                                                                                                         1966
2.0                                                                                                                                                         1405
Name: count, dtype: int64

     Tipo                                             Classe
258     1                                                Sim
259     2                                                Não
260     3  Não houve encaminhamento, pois todas as consul...
261     9                                           Ignorado

    [AFTER]:
Em algum dos atendimentos para depressão, houve encaminhamento para algum acompanhamento com profissional de saúde mental, como psiquiatra ou psicólogo?
Sim                                                                                                                                                         2020
Não houve encaminhamento, pois todas as consultas para depressão foram com profissional de saúde mental                                                     1966
Não                                                                                                                                                         1405
Name: count, dtype: int64

    [COLUMN]: Q109 ==================================================
    [BEFORE]:
Em geral, em que grau a depressão limita as suas atividades habituais (tais como trabalhar, realizar afazeres domésticos, etc.)?
1.0                                                                                                                                 4599
2.0                                                                                                                                 1617
3.0                                                                                                                                 1088
Name: count, dtype: int64

     Tipo              Classe
263     1          Não limita
264     2            Um pouco
265     3       Moderadamente
266     4        Intensamente
267     5  Muito intensamente
268     9            Ignorado

    [AFTER]:
Em geral, em que grau a depressão limita as suas atividades habituais (tais como trabalhar, realizar afazeres domésticos, etc.)?
Não limita                                                                                                                          4599
Um pouco                                                                                                                            1617
Moderadamente                                                                                                                       1088
Name: count, dtype: int64

    [COLUMN]: V00201 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: Te ofendeu, humilhou ou ridicularizou na frente de outras pessoas?
2.0                                                                                                   79588
1.0                                                                                                    8943
Name: count, dtype: int64

     Tipo Classe
270     1    Sim
271     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: Te ofendeu, humilhou ou ridicularizou na frente de outras pessoas?
Não                                                                                                   79588
Sim                                                                                                    8943
Name: count, dtype: int64

    [COLUMN]: V00202 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: Gritou com você ou te xingou?
2.0                                                              77504
1.0                                                              11027
Name: count, dtype: int64

     Tipo Classe
273     1    Sim
274     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: Gritou com você ou te xingou?
Não                                                              77504
Sim                                                              11027
Name: count, dtype: int64

    [COLUMN]: V00203 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: Usou redes sociais ou celular para ameaçar, ofender, xingar ou expor imagens suas sem o seu consentimento?
2.0                                                                                                                                           86573
1.0                                                                                                                                            1958
Name: count, dtype: int64

     Tipo Classe
276     1    Sim
277     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: Usou redes sociais ou celular para ameaçar, ofender, xingar ou expor imagens suas sem o seu consentimento?
Não                                                                                                                                           86573
Sim                                                                                                                                            1958
Name: count, dtype: int64

    [COLUMN]: V00204 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: Te ameaçou de ferir ou machucar alguém importante para você?
2.0                                                                                             83691
1.0                                                                                              4840
Name: count, dtype: int64

     Tipo Classe
279     1    Sim
280     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: Te ameaçou de ferir ou machucar alguém importante para você?
Não                                                                                             83691
Sim                                                                                              4840
Name: count, dtype: int64

    [COLUMN]: V00205 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: Destruiu alguma coisa sua de propósito?
2.0                                                                        86567
1.0                                                                         1964
Name: count, dtype: int64

     Tipo Classe
282     1    Sim
283     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: Destruiu alguma coisa sua de propósito?
Não                                                                        86567
Sim                                                                         1964
Name: count, dtype: int64

    [COLUMN]: V003 ==================================================
    [BEFORE]:
Nos últimos doze meses, quantas vezes isso aconteceu com você?
2.0                                                               6411
3.0                                                               6070
1.0                                                               2038
Name: count, dtype: int64

     Tipo         Classe
285     1   Muitas vezes
286     2  Algumas vezes
287     3        Uma vez

    [AFTER]:
Nos últimos doze meses, quantas vezes isso aconteceu com você?
Algumas vezes                                                     6411
Uma vez                                                           6070
Muitas vezes                                                      2038
Name: count, dtype: int64

    [COLUMN]: V006 ==================================================
    [BEFORE]:
Quem fez isso com você? (Se mais de uma pessoa, defina o pirncipal agressor)
8.0                                                                             3255
11.0                                                                            2843
1.0                                                                             1684
Name: count, dtype: int64

     Tipo                                             Classe
289     1                        Cônjuge ou companheiro (a)
290     2                   Ex-Cônjuge ou ex-companheiro (a)
291     3  Parceiro (a), namorado (a), ex-parceiro (a), e...
292     4                     Pai, mãe, padrasto ou madrasta
293     5                               Filho(a), enteado(a)
294     6                                           Irmão(ã)
295     7                                      Outro parente
296     8                        Amigo(a)/colega, vizinho(a)
297     9                            Empregado (a) em geral
298    10                                Patrão/patroa/chefe
299    11                                Pessoa desconhecida
300    12                                           Policial
301    13                                             Outro

    [AFTER]:
Quem fez isso com você? (Se mais de uma pessoa, defina o pirncipal agressor)
Amigo(a)/colega, vizinho(a)                                                     3255
Pessoa desconhecida                                                             2843
Cônjuge ou companheiro (a)                                                      1684
Name: count, dtype: int64

    [COLUMN]: V007 ==================================================
    [BEFORE]:
Onde isso ocorreu?
1.0                   6503
5.0                   3143
2.0                   2514
Name: count, dtype: int64

     Tipo                                             Classe
303     1                                         Residência
304     2                                           Trabalho
305     3  Escola, faculdade ou outro estabelecimento de ...
306     4                        Bar, restaurante ou similar
307     5                 Via pública ou outro local público
308     6                     Internet/Redes Sociais/Celular
309     7                                             Outro

    [AFTER]:
Onde isso ocorreu?
Residência                            6503
Via pública ou outro local público    3143
Trabalho                              2514
Name: count, dtype: int64

    [COLUMN]: V01401 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: Te deu um tapa ou uma bofetada?
2.0                                                                87099
1.0                                                                 1432
Name: count, dtype: int64

     Tipo Classe
311     1    Sim
312     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: Te deu um tapa ou uma bofetada?
Não                                                                87099
Sim                                                                 1432
Name: count, dtype: int64

    [COLUMN]: V01402 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: Te empurrou, segurou com força ou jogou algo em você com a intenção de machucar?
2.0                                                                                                                 86392
1.0                                                                                                                  2139
Name: count, dtype: int64

     Tipo Classe
314     1    Sim
315     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: Te empurrou, segurou com força ou jogou algo em você com a intenção de machucar?
Não                                                                                                                 86392
Sim                                                                                                                  2139
Name: count, dtype: int64

    [COLUMN]: V01403 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: Te deu um soco, chutou ou arrastou pelo cabelo?
2.0                                                                                87522
1.0                                                                                 1009
Name: count, dtype: int64

     Tipo Classe
317     1    Sim
318     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: Te deu um soco, chutou ou arrastou pelo cabelo?
Não                                                                                87522
Sim                                                                                 1009
Name: count, dtype: int64

    [COLUMN]: V01404 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: Tentou ou efetivamente estrangulou, asfixiou ou te queimou de propósito?
2.0                                                                                                         88203
1.0                                                                                                           328
Name: count, dtype: int64

     Tipo Classe
320     1    Sim
321     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: Tentou ou efetivamente estrangulou, asfixiou ou te queimou de propósito?
Não                                                                                                         88203
Sim                                                                                                           328
Name: count, dtype: int64

    [COLUMN]: V01405 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: Te ameaçou ou feriu com uma faca, arma de fogo ou alguma outra arma ou objeto?
2.0                                                                                                               87239
1.0                                                                                                                1292
Name: count, dtype: int64

     Tipo Classe
323     1    Sim
324     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: Te ameaçou ou feriu com uma faca, arma de fogo ou alguma outra arma ou objeto?
Não                                                                                                               87239
Sim                                                                                                                1292
Name: count, dtype: int64

    [COLUMN]: V015 ==================================================
    [BEFORE]:
Nos últimos doze meses, quantas vezes isso aconteceu?
3.0                                                      1932
2.0                                                      1177
1.0                                                       331
Name: count, dtype: int64

     Tipo         Classe
326     1   Muitas vezes
327     2  Algumas vezes
328     3        Uma vez

    [AFTER]:
Nos últimos doze meses, quantas vezes isso aconteceu?
Uma vez                                                  1932
Algumas vezes                                            1177
Muitas vezes                                              331
Name: count, dtype: int64

    [COLUMN]: V018 ==================================================
    [BEFORE]:
Quem fez isso com você
11.0                      785
2.0                       545
1.0                       531
Name: count, dtype: int64

     Tipo                                             Classe
330     1                         Cônjuge ou companheiro (a)
331     2                   Ex-Cônjuge ou ex-companheiro (a)
332     3  Parceiro (a), namorado (a), ex-parceiro (a), e...
333     4                     Pai, mãe, padrasto ou madrasta
334     5                                Filho(a), enteado(a
335     6                                           Irmão(ã)
336     7                                      Outro parente
337     8                        Amigo(a)/colega, vizinho(a)
338     9                            Empregado (a) em geral
339    10                            Patrão/patroa/chefe(a)
340    11                                Pessoa desconhecida
341    12                                           Policial
342    13                                              Outro

    [AFTER]:
Quem fez isso com você
Pessoa desconhecida                 785
Ex-Cônjuge ou ex-companheiro (a)    545
Cônjuge ou companheiro (a)          531
Name: count, dtype: int64

    [COLUMN]: V019 ==================================================
    [BEFORE]:
Onde isso ocorreu?
1.0                   1897
5.0                    992
2.0                    229
Name: count, dtype: int64

     Tipo                                             Classe
344     1                                         Residência
345     2                                           Trabalho
346     3  Escola, faculdade ou outro estabelecimento de ...
347     4                        Bar, restaurante ou similar
348     5                 Via pública ou outro local público
349     6                                              Outro

    [AFTER]:
Onde isso ocorreu?
Residência                            1897
Via pública ou outro local público     992
Trabalho                               229
Name: count, dtype: int64

    [COLUMN]: V02701 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: tocou, manipulou, beijou ou expôs partes do seu corpo contra sua vontade
2.0                                                                                                         87985
1.0                                                                                                           546
Name: count, dtype: int64

     Tipo Classe
351     1    Sim
352     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: tocou, manipulou, beijou ou expôs partes do seu corpo contra sua vontade
Não                                                                                                         87985
Sim                                                                                                           546
Name: count, dtype: int64

    [COLUMN]: V02702 ==================================================
    [BEFORE]:
Nos últimos doze meses, alguém: Te ameaçou ou forçou a ter relações sexuais ou quaisquer outros atos sexuais contra sua vontade?
2.0                                                                                                                                 88202
1.0                                                                                                                                   329
Name: count, dtype: int64

     Tipo Classe
354     1    Sim
355     2    Não

    [AFTER]:
Nos últimos doze meses, alguém: Te ameaçou ou forçou a ter relações sexuais ou quaisquer outros atos sexuais contra sua vontade?
Não                                                                                                                                 88202
Sim                                                                                                                                   329
Name: count, dtype: int64

    [COLUMN]: V02801 ==================================================
    [BEFORE]:
E alguma vez na vida, alguém: tocou, manipulou, beijou ou expôs partes do seu corpo contra sua vontade
2.0                                                                                                       83984
1.0                                                                                                        3875
Name: count, dtype: int64

     Tipo Classe
357     1    Sim
358     2    Não

    [AFTER]:
E alguma vez na vida, alguém: tocou, manipulou, beijou ou expôs partes do seu corpo contra sua vontade
Não                                                                                                       83984
Sim                                                                                                        3875
Name: count, dtype: int64

    [COLUMN]: V02802 ==================================================
    [BEFORE]:
E alguma vez na vida, alguém: Te ameaçou ou forçou a ter relações sexuais ou quaisquer outros atos sexuais contra sua vontade?
2.0                                                                                                                               85134
1.0                                                                                                                                2725
Name: count, dtype: int64

     Tipo Classe
360     1    Sim
361     2    Não

    [AFTER]:
E alguma vez na vida, alguém: Te ameaçou ou forçou a ter relações sexuais ou quaisquer outros atos sexuais contra sua vontade?
Não                                                                                                                               85134
Sim                                                                                                                                2725
Name: count, dtype: int64

    [COLUMN]: V029 ==================================================
    [BEFORE]:
Nos últimos doze meses, quantas vezes isso aconteceu?
3.0                                                      305
2.0                                                      280
1.0                                                       87
Name: count, dtype: int64

     Tipo          Classe
363     1    Muitas vezes
364     2   Algumas vezes
365     3         Uma vez

    [AFTER]:
Nos últimos doze meses, quantas vezes isso aconteceu?
 Uma vez                                                 305
 Algumas vezes                                           280
Muitas vezes                                              87
Name: count, dtype: int64

    [COLUMN]: V032 ==================================================
    [BEFORE]:
Quem fez isso com você
11.0                      153
8.0                       130
2.0                       122
Name: count, dtype: int64

     Tipo                                             Classe
367     1                         Cônjuge ou companheiro (a)
368     2                    Ex-Cônjuge ou ex-companheiro (a
369     3  Parceiro (a), namorado (a), ex-parceiro (a), e...
370     4                     Pai, mãe, padrasto ou madrasta
371     5                            Filho(a), enteado(a)
372     6                                           Irmão(ã)
373     7                                      Outro parente
374     8                         Amigo(a)/colega, vizinho(a
375     9                            Empregado (a) em geral
376    10                                Patrão/patroa/chefe
377    11                                Pessoa desconhecida
378    12                                           Policial
379    13                                              Outro

    [AFTER]:
Quem fez isso com você
Pessoa desconhecida                153
Amigo(a)/colega, vizinho(a         130
Ex-Cônjuge ou ex-companheiro (a    122
Name: count, dtype: int64

    [COLUMN]: V033 ==================================================
    [BEFORE]:
Onde isso ocorreu?
1.0                   357
5.0                   143
4.0                    60
Name: count, dtype: int64

     Tipo                                             Classe
381     1                                         Residência
382     2                                           Trabalho
383     3  Escola, faculdade ou outro estabelecimento de ...
384     4                        Bar, restaurante ou similar
385     5                 Via pública ou outro local público
386     6                                             Outro

    [AFTER]:
Onde isso ocorreu?
Residência                            357
Via pública ou outro local público    143
Bar, restaurante ou similar            60
Name: count, dtype: int64

    [COLUMN]: V034 ==================================================
    [BEFORE]:
Nos últimos doze meses, você deixou de realizar quaisquer de suas atividades habituais (trabalhar, realizar afazeres domésticos, ir à escola etc.) por causa desse ato
2.0                                                                                                                                                                       13260
1.0                                                                                                                                                                        2062
Name: count, dtype: int64

     Tipo Classe
388     1    Sim
389     2    Não

    [AFTER]:
Nos últimos doze meses, você deixou de realizar quaisquer de suas atividades habituais (trabalhar, realizar afazeres domésticos, ir à escola etc.) por causa desse ato
Não                                                                                                                                                                       13260
Sim                                                                                                                                                                        2062
Name: count, dtype: int64

    [COLUMN]: V03501 ==================================================
    [BEFORE]:
Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Hematomas, cortes, fraturas, queimaduras ou outras lesões físicas ou ferimentos?
2.0                                                                                                                                                                                 2639
1.0                                                                                                                                                                                 1198
Name: count, dtype: int64

     Tipo Classe
391     1    NaN
392     2    NaN

    [AFTER]:
Series([], Name: count, dtype: int64)

    [COLUMN]: V03502 ==================================================
    [BEFORE]:
Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Medo, tristeza, desânimo, dificuldade para dormir, ansiedade, depressão ou outras consequências psicológicas?
2.0                                                                                                                                                                                                              7734
1.0                                                                                                                                                                                                              7588
Name: count, dtype: int64

     Tipo Classe
394     1    Sim
395     2    Não

    [AFTER]:
Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Medo, tristeza, desânimo, dificuldade para dormir, ansiedade, depressão ou outras consequências psicológicas?
Não                                                                                                                                                                                                              7734
Sim                                                                                                                                                                                                              7588
Name: count, dtype: int64

    [COLUMN]: V03503 ==================================================
    [BEFORE]:
Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Doença sexualmente transmissível ou gravidez indesejada?
2.0                                                                                                                                                         637
1.0                                                                                                                                                          35
Name: count, dtype: int64

     Tipo Classe
397     1    Sim
398     2    Não

    [AFTER]:
Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Doença sexualmente transmissível ou gravidez indesejada?
Não                                                                                                                                                         637
Sim                                                                                                                                                          35
Name: count, dtype: int64

    [COLUMN]: V036 ==================================================
    [BEFORE]:
Por causa desta (s) consequência (s), você procurou algum atendimento de saúde
2.0                                                                               6776
1.0                                                                               1325
Name: count, dtype: int64

     Tipo Classe
400     1    Sim
401     2    Não

    [AFTER]:
Por causa desta (s) consequência (s), você procurou algum atendimento de saúde
Não                                                                               6776
Sim                                                                               1325
Name: count, dtype: int64

    [COLUMN]: V037 ==================================================
    [BEFORE]:
Por causa desta (s) consequência (s), você recebeu algum atendimento de saúde
1.0                                                                              1211
2.0                                                                               114
Name: count, dtype: int64

     Tipo Classe
403     1    Sim
404     2   Não

    [AFTER]:
Por causa desta (s) consequência (s), você recebeu algum atendimento de saúde
Sim                                                                              1211
Não                                                                               114
Name: count, dtype: int64

    [COLUMN]: V038 ==================================================
    [BEFORE]:
Onde foi realizado este atendimento de saúde
3.0                                             379
7.0                                             349
5.0                                             155
Name: count, dtype: int64

     Tipo                                             Classe
406     1                                           No local
407     2                                          Farmácia.
408     3  Unidade básica de saúde (posto ou centro de sa...
409     4  Policlínica pública, PAM (Posto de Assistência...
410     5  UPA (Unidade de Pronto Atendimento), outro tip...
411     6                   Ambulatório de hospital público.
412     7  Consultório particular, clínica privada ou amb...
413     8  Pronto atendimento ou emergência de hospital p...
414     9                                       No domicílio
415    10                                      Outro serviço

    [AFTER]:
Onde foi realizado este atendimento de saúde
Unidade básica de saúde (posto ou centro de saúde ou unidade de saúde da família).                                                             379
Consultório particular, clínica privada ou ambulatório de hospital privado.                                                                    349
UPA (Unidade de Pronto Atendimento), outro tipo de pronto atendimento público (24 horas), pronto-socorro ou emergência de hospital público.    155
Name: count, dtype: int64

    [COLUMN]: V039 ==================================================
    [BEFORE]:
Por causa desta (s) consequência (s), você precisou ser internado por 24 horas ou mais
2.0                                                                                       1145
1.0                                                                                         66
Name: count, dtype: int64

     Tipo Classe
417     1    Sim
418     2    Não

    [AFTER]:
Por causa desta (s) consequência (s), você precisou ser internado por 24 horas ou mais
Não                                                                                       1145
Sim                                                                                         66
Name: count, dtype: int64

    [COLUMN]: Y008 ==================================================
    [BEFORE]:
Qual é a sua orientação sexual?
1.0                                84359
6.0                                 1769
3.0                                  980
Name: count, dtype: int64

     Tipo                  Classe
420     1            Heterosexual
421     2               Bissexual
422     3              Homosexual
423     4        Outra orientação
424     5               Não sabe
425     6  Recusou-se a responder

    [AFTER]:
Qual é a sua orientação sexual?
Heterosexual                       84359
Recusou-se a responder              1769
Homosexual                           980
Name: count, dtype: int64

In [16]:
depression_explicit['V0001'].value_counts(ascending=False).head(30)

Unidade da Federação
São Paulo               18504
Maranhão                17912
Minas Gerais            15421
Ceará                   15281
Rio de Janeiro          14776
Pará                    14393
Amazonas                13074
Pernambuco              12381
Paraná                  11694
Bahia                   11061
Espírito Santo          10673
Santa Catarina          10607
Alagoas                 10474
Rio Grande do Sul       10369
Paraíba                 10094
Rio Grande do Norte      9964
Piauí                    9044
Mato Grosso do Sul       8766
Goiás                    8506
Roraima                  8476
Acre                     8270
Sergipe                  8140
Distrito Federal         7609
Mato Grosso              7607
Rondônia                 7391
Amapá                    6640
Tocantins                6599
Name: count, dtype: int64

In [17]:
depression_explicit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293726 entries, 0 to 293725
Data columns (total 83 columns):
 #   Column                                                                                                                                                                                                                   Non-Null Count   Dtype
---  ------                                                                                                                                                                                                                   --------------   -----
 0   (V0001, Unidade da Federação)                                                                                                                                                                                            293726 non-null  object
 1   (V0026, Tipo de situação censitária)                                                                                                                                                                                     293726 non-null  object
 2   (V0031, Tipo de área)                                                                                                                                                                                                    293726 non-null  object
 3   (C006, Sexo)                                                                                                                                                                                                             279382 non-null  object
 4   (C00703, Ano de nascimento)                                                                                                                                                                                              263040 non-null  float64
 5   (C008, Idade do morador na data de referência)                                                                                                                                                                           279382 non-null  float64
 6   (C009, Cor ou raça)                                                                                                                                                                                                      279358 non-null  object
 7   (C01001, Cônjuge ou companheiro(a) mora em nesse domicílio.)                                                                                                                                                             242444 non-null  object
 8   (C013, Cônjuge ou companheiro(a) mora em outro domicílio.)                                                                                                                                                               119532 non-null  object
 9   (C017, ___já viveu com cônjuge ou companheiro (a) antes?)                                                                                                                                                                114348 non-null  object
 10  (C018, Que idade ___tinha quando começou a viver com seu(sua) primeiro(a)/único(a) marido (mulher) ou companheiro(a)?)                                                                                                   149637 non-null  object
 11  (C01801, Que idade ___tinha quando começou a viver com seu(sua) primeiro(a)/único(a) marido (mulher) ou companheiro(a)?)                                                                                                 149637 non-null  float64
 12  (C011, Qual é o estado civil de ___?)                                                                                                                                                                                    242444 non-null  object
 13  (D00901, Qual foi o curso mais elevado que ___frequentou)                                                                                                                                                                178013 non-null  object
 14  (I00102, tem algum plano de saúde médico particular, de empresa ou órgão público?)                                                                                                                                       279382 non-null  object
 15  (I005, Há quanto tempo sem interrupção _____ possui esse plano de saúde (único ou principal)?)                                                                                                                           58597 non-null   object
 16  (I00401, O plano de saúde (único ou principal) de assistência médica que ___ possui dá direito a consultas)                                                                                                              31627 non-null   object
 17  (I00403, O plano de saúde (único ou principal) de assistência médica que ___ possui dá direito a internações)                                                                                                            31627 non-null   object
 18  (I00404, O plano de saúde (único ou principal) de assistência médica que ___ possui dá direito a partos)                                                                                                                 31627 non-null   object
 19  (M005010, No(s) seu(s) trabalho(s), habitualmente, (s) o(a) Sr(a) trabalha(va) algum período de tempo entre as 8 horas da noite e às 5 horas da manhã)                                                                   52832 non-null   object
 20  (M009, O(a) Sr(a) normalmente trabalha(va) em ambientes)                                                                                                                                                                 52832 non-null   object
 21  (M01401, Com quantos familiares ou parentes ___ pode contar em momentos bons ou ruins)                                                                                                                                   90846 non-null   object
 22  (M01501, Com quantos amigos próximos ___ pode contar em momentos bons ou ruins (Sem considerar os familiares ou parentes)                                                                                                90846 non-null   object
 23  (M01601, Nos últimos doze meses, com que frequência o(a) Sr(a) se reuniu com outras pessoas para prática de atividades esportivas, exercícios físicos, recreativos ou artísticos)                                        90846 non-null   object
 24  (M01901, Nos últimos doze meses, com que frequência o(a) Sr(a) compareceu a atividades coletivas da sua religião ou de outra religião sem contar com situações como casamento, batizado, ou enterro))                    90846 non-null   object
 25  (N016, Nas duas últimas semanas, com que frequência o(a) Sr(a) se sentiu deprimido(a), “pra baixo” ou sem perspectiva?)                                                                                                  90846 non-null   object
 26  (P00102, O(A) Sr(a) sabe seu peso?)                                                                                                                                                                                      90846 non-null   object
 27  (P00103, Peso - Informado (em kg)(3 inteiros e 1 casa decimal))                                                                                                                                                          83073 non-null   float64
 28  (P00104, Peso - Final (em kg)(3 inteiros e 1 casa decimal))                                                                                                                                                              89954 non-null   float64
 29  (P027, Com que frequência o(a) Sr(a) costuma consumir alguma bebida alcoólica?)                                                                                                                                          90846 non-null   object
 30  (P02801, Quantos dias por semana o(a) Sr(a) costuma consumir alguma bebida alcoólica?)                                                                                                                                   24323 non-null   object
 31  (P034, Nos últimos três meses, o(a) Sr(a) praticou algum tipo de exercício físico ou esporte?)                                                                                                                           90846 non-null   object
 32  (P035, Quantos dias por semana o(a) Sr(a) costuma  (costumava)praticar exercício físico ou esporte?)                                                                                                                     36398 non-null   object
 33  (P039, No seu trabalho, o(a) Sr(a) faz faxina pesada, carrega peso ou faz outra atividade pesada que requer esforço físico intenso?)                                                                                     52832 non-null   object
 34  (P044, Nas suas atividades domésticas, o(a) Sr(a) faz faxina pesada, carrega peso ou faz outra atividade pesada que requer esforço físico intenso? (não considerar atividade doméstica remunerada))                      90846 non-null   object
 35  (P050, Atualmente, o(a) Sr(a) fuma algum produto do tabaco?)                                                                                                                                                             90846 non-null   object
 36  (P051, E no passado, o(a) Sr(a) fumou algum produto do tabaco diariamente?)                                                                                                                                              1186 non-null    object
 37  (P053, Que idade o(a) Sr(a) tinha quando começou a fumar produto de tabaco diariamente?)                                                                                                                                 32063 non-null   float64
 38  (P06701, O(a) Sr(a) usa aparelhos eletrônicos com nicotina líquida ou folha de tabaco picado (cigarro eletrônico, narguilé eletrônico, cigarro aquecido ou outro dispositivo eletrônico para fumar ou vaporizar)?)       90846 non-null   object
 39  (Q092, Algum médico ou profissional de saúde mental (como psiquiatra ou psicólogo) já lhe deu o diagnóstico de depressão?)                                                                                               90846 non-null   object
 40  (Q09201, Algum médico já lhe receitou algum medicamento para depressão?)                                                                                                                                                 8301 non-null    object
 41  (Q09202, Nas duas últimas semanas o(a) senhor(a) usou algum medicamento para depressão?)                                                                                                                                 8297 non-null    object
 42  (Q094, O(A) Sr(a) vai ao médico/serviço de saúde regularmente por causa da depressão ou só quando tem algum problema?)                                                                                                   8332 non-null    object
 43  (Q09502, Qual o principal motivo do(a) Sr(a) não visitar o médico/serviço de saúde regularmente por causa da depressão?)                                                                                                 5309 non-null    object
 44  (Q09605, Por causa da depressão Faz psicoterapia)                                                                                                                                                                        8332 non-null    object
 45  (Q09606, Por causa da depressão Toma medicamentos)                                                                                                                                                                       8332 non-null    object
 46  (Q098, Algum dos medicamentos para depressão foi obtido em serviço público de saúde?)                                                                                                                                    4348 non-null    object
 47  (Q10101, Quando foi a última vez que o(a) Sr(a) recebeu atendimento médico por causa da depressão?)                                                                                                                      8332 non-null    object
 48  (Q10202, Na última vez que recebeu assistência médica para depressão, onde o(a) Sr(a) foi atendido?)                                                                                                                     5391 non-null    object
 49  (Q106, Em algum dos atendimentos para depressão, houve encaminhamento para algum acompanhamento com profissional de saúde mental, como psiquiatra ou psicólogo?)                                                         5391 non-null    object
 50  (Q109, Em geral, em que grau a depressão limita as suas atividades habituais (tais como trabalhar, realizar afazeres domésticos, etc.)?)                                                                                 8332 non-null    object
 51  (V00201, Nos últimos doze meses, alguém: Te ofendeu, humilhou ou ridicularizou na frente de outras pessoas?)                                                                                                             88531 non-null   object
 52  (V00202, Nos últimos doze meses, alguém: Gritou com você ou te xingou?)                                                                                                                                                  88531 non-null   object
 53  (V00203, Nos últimos doze meses, alguém: Usou redes sociais ou celular para ameaçar, ofender, xingar ou expor imagens suas sem o seu consentimento?)                                                                     88531 non-null   object
 54  (V00204, Nos últimos doze meses, alguém: Te ameaçou de ferir ou machucar alguém importante para você?)                                                                                                                   88531 non-null   object
 55  (V00205, Nos últimos doze meses, alguém: Destruiu alguma coisa sua de propósito?)                                                                                                                                        88531 non-null   object
 56  (V003, Nos últimos doze meses, quantas vezes isso aconteceu com você?)                                                                                                                                                   14519 non-null   object
 57  (V006, Quem fez isso com você? (Se mais de uma pessoa, defina o pirncipal agressor))                                                                                                                                     14519 non-null   object
 58  (V007, Onde isso ocorreu?)                                                                                                                                                                                               14519 non-null   object
 59  (V01401, Nos últimos doze meses, alguém: Te deu um tapa ou uma bofetada?)                                                                                                                                                88531 non-null   object
 60  (V01402, Nos últimos doze meses, alguém: Te empurrou, segurou com força ou jogou algo em você com a intenção de machucar?)                                                                                               88531 non-null   object
 61  (V01403, Nos últimos doze meses, alguém: Te deu um soco, chutou ou arrastou pelo cabelo?)                                                                                                                                88531 non-null   object
 62  (V01404, Nos últimos doze meses, alguém: Tentou ou efetivamente estrangulou, asfixiou ou te queimou de propósito?)                                                                                                       88531 non-null   object
 63  (V01405, Nos últimos doze meses, alguém: Te ameaçou ou feriu com uma faca, arma de fogo ou alguma outra arma ou objeto?)                                                                                                 88531 non-null   object
 64  (V015, Nos últimos doze meses, quantas vezes isso aconteceu?)                                                                                                                                                            3440 non-null    object
 65  (V018, Quem fez isso com você)                                                                                                                                                                                           3440 non-null    object
 66  (V019, Onde isso ocorreu?)                                                                                                                                                                                               3440 non-null    object
 67  (V02701, Nos últimos doze meses, alguém: tocou, manipulou, beijou ou expôs partes do seu corpo contra sua vontade)                                                                                                       88531 non-null   object
 68  (V02702, Nos últimos doze meses, alguém: Te ameaçou ou forçou a ter relações sexuais ou quaisquer outros atos sexuais contra sua vontade?)                                                                               88531 non-null   object
 69  (V02801, E alguma vez na vida, alguém: tocou, manipulou, beijou ou expôs partes do seu corpo contra sua vontade)                                                                                                         87859 non-null   object
 70  (V02802, E alguma vez na vida, alguém: Te ameaçou ou forçou a ter relações sexuais ou quaisquer outros atos sexuais contra sua vontade?)                                                                                 87859 non-null   object
 71  (V029, Nos últimos doze meses, quantas vezes isso aconteceu?)                                                                                                                                                            672 non-null     object
 72  (V032, Quem fez isso com você)                                                                                                                                                                                           672 non-null     object
 73  (V033, Onde isso ocorreu?)                                                                                                                                                                                               672 non-null     object
 74  (V034, Nos últimos doze meses, você deixou de realizar quaisquer de suas atividades habituais (trabalhar, realizar afazeres domésticos, ir à escola etc.) por causa desse ato)                                           15322 non-null   object
 75  (V03501, Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Hematomas, cortes, fraturas, queimaduras ou outras lesões físicas ou ferimentos?)                               0 non-null       float64
 76  (V03502, Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Medo, tristeza, desânimo, dificuldade para dormir, ansiedade, depressão ou outras consequências psicológicas?)  15322 non-null   object
 77  (V03503, Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Doença sexualmente transmissível ou gravidez indesejada?)                                                       672 non-null     object

In [18]:
depression_explicit.head(10)

,V0001,V0026,V0031,C006,C00703,C008,C009,C01001,C013,C017,...,V033,V034,V03501,V03502,V03503,V036,V037,V038,V039,Y008
,Unidade da Federação,Tipo de situação censitária,Tipo de área,Sexo,Ano de nascimento,Idade do morador na data de referência,Cor ou raça,Cônjuge ou companheiro(a) mora em nesse domicílio.,Cônjuge ou companheiro(a) mora em outro domicílio.,___já viveu com cônjuge ou companheiro (a) antes?,...,Onde isso ocorreu?,"Nos últimos doze meses, você deixou de realizar quaisquer de suas atividades habituais (trabalhar, realizar afazeres domésticos, ir à escola etc.) por causa desse ato","Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Hematomas, cortes, fraturas, queimaduras ou outras lesões físicas ou ferimentos?","Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Medo, tristeza, desânimo, dificuldade para dormir, ansiedade, depressão ou outras consequências psicológicas?","Esse(s) ato(s) sexual(is) forçado(s) gerou(aram) alguma consequência para sua saúde, tais como: Doença sexualmente transmissível ou gravidez indesejada?","Por causa desta (s) consequência (s), você procurou algum atendimento de saúde","Por causa desta (s) consequência (s), você recebeu algum atendimento de saúde",Onde foi realizado este atendimento de saúde,"Por causa desta (s) consequência (s), você precisou ser internado por 24 horas ou mais",Qual é a sua orientação sexual?
0,Rondônia,Urbano,Capital,Mulher,1963.0,55.0,Branca,Sim,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heterosexual
1,Rondônia,Urbano,Capital,Homem,1950.0,69.0,Parda,Sim,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rondônia,Urbano,Capital,Homem,1987.0,31.0,Preta,Não,Não,Sim,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rondônia,Urbano,Capital,Homem,NaN,9.0,Preta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rondônia,Urbano,Capital,Mulher,NaN,6.0,Parda,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Rondônia,Urbano,Capital,Mulher,NaN,4.0,Preta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Rondônia,Urbano,Capital,Mulher,1985.0,33.0,Branca,Não,Não,Sim,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Rondônia,Urbano,Capital,Homem,2002.0,17.0,Branca,Não,Não,Não,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Rondônia,Urbano,Capital,Mulher,2004.0,15.0,Parda,Não,Não,Não,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Rondônia,Urbano,Capital,Mulher,2000.0,19.0,Parda,Não,Não,Não,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heterosexual

## `TODO`: D`types`
Dtypes are already included at DEPRESSION_DICTIONARY['Dtype'] for each Codigo attribute

In [19]:
# # SELECT * FROM DEPRESSION_DICTIONARY
# # WHERE Codigo == 'V03501'
# DEPRESSION_DICTIONARY[DEPRESSION_DICTIONARY.Codigo == 'V03501']

## `TODO` Drop columns without class descriptions
Codigo `V03501` is not correctly described in the dictionary-pns-2019-cleaned.csv file.

In [20]:
# # V03501
# PNS_DICTIONARY_PATH[PNS_DICTIONARY_PATH.Codigo == 'V03501']

In [21]:
# # Original shape
# print(PNS_DICTIONARY_PATH.shape)

# # Drop Codigo 'V03501'
# PNS_DICTIONARY_PATH = PNS_DICTIONARY_PATH[PNS_DICTIONARY_PATH.Codigo != 'V03501']

# # Shape after dropping
# print(PNS_DICTIONARY_PATH.shape)