# Column selection

## 1 Setup

### 1.1 Libraries

In [1]:
import pandas as pd
import numpy as np

### 1.2 Paths

In [4]:
PNS_DICTIONARY_PATH = "/workspaces/depressao-ibge-pns/data/pns-dictionary.csv"

### 1.3 Dataframes

In [ ]:
PNS_DICTIONARY = pd.read_csv(PNS_DICTIONARY_PATH)

## 2 Filter only our selected attributes

In [ ]:
# SELECT DISTINCT Codigo 
# FROM PNS_DICTIONARY 
# WHERE Felipe IS NOT NULL
selected_attributes = pd.DataFrame(PNS_DICTIONARY.Codigo[PNS_DICTIONARY.Felipe.notna()].unique(), columns=["Codigo"])

In [18]:
selected_attributes

    Codigo
0    V0001
1    V0026
2    V0031
3     C006
4   C00703
..     ...
78    V036
79    V037
80    V038
81    V039
82    Y008

[83 rows x 1 columns]

## 3 Save as csv

In [20]:
selected_attributes.to_csv(
    "/workspaces/depressao-ibge-pns/data/selected-attributes.csv",
    index=False,
)

# [END] 
> Now the ../data/`selected_attributes`.csv is ready to be used by:
1. [**depression**.ipynb](/workspaces/depressao-ibge-pns/src/3-depression/depression.ipynb)