## 0. Environment

SHELL
```shell
conda create --name pns_venv --yes
conda activate pns_venv
conda install pandas --yes
conda install openpyxl --yes
```

In [3]:
import pandas as pd
import numpy as np

## 1. Setup
*Upload `pns-2019.txt` and `dicionario-limpo.xlsx` into the `~/data` folder

In [33]:
# Paths
pnd_data_path = "../data/pns-2019.txt"
dicionario_path = "../data/dicionario-limpo.xlsx"

In [21]:
dicionario = pd.read_excel(dicionario_path, skiprows=1)
dicionario.head()

,Posição inicial,Tamanho,Código\nda\nvariável,Quesito,Unnamed: 4,Categorias,Unnamed: 6
0,NaN,NaN,NaN,nº,descrição,Tipo,Descrição
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,2.0,V0001,NaN,Unidade da Federação,11,Rondônia
3,NaN,NaN,NaN,NaN,NaN,12,Acre
4,NaN,NaN,NaN,NaN,NaN,13,Amazonas

In [ ]:
# Widths
column_widths = dicionario.Tamanho.dropna(axis=0).values.astype(int)
column_widths

array([ 2,  7,  9,  4,  2,  4,  2,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,
        1,  1,  1,  1,  2,  2,  1,  1,  1,  1,  2,  1,  2,  1,  2,  1,  2,
        1,  2,  1,  2,  1,  2,  1,  2,  1,  2,  1,  1,  2,  1,  2,  2,  2,
        2,  2,  2,  1,  1,  1,  1,  2,  2,  2,  1,  2,  2,  4,  3,  1,  1,
        2,  1,  1,  1,  1,  1,  1,  3,  1,  1,  1,  1,  1,  2,  1,  2,  1,
        1,  1,  2,  1,  1,  1,  2,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,
        1,  1,  2,  2,  2,  1,  4,  1,  1,  1,  1,  5,  1,  8,  1,  8,  1,
        3,  1,  8,  1,  8,  1,  3,  1,  2,  2,  1,  2,  1,  2,  2,  2,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        3,  1,  1,  8,  1,  8,  1,  8,  1,  8,  1,  1,  1,  2,  1,  2,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  1,  1,  2,  1,
        1,  1,  2,  1,  3,  1,  1,  2,  1,  1,  1,  2,  2,  1,  1,  1,  1,
        1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  2,  1,  2,  1,  2,  2,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  1,  2,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  2,  1,  2,  1,  1,  2,  1,  1,  1,  1,
        2,  1,  1,  1,  1,  5,  5,  1,  1,  3,  3,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  2,  1,  2,  1,  1,  1,  1,  1,  1,  2,  2,  2,  1,
        1,  1,  2,  2,  1,  1,  2,  2,  1,  2,  2,  1,  1,  2,  2,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  2,  1,  2,  2,  1,  2,  2,  1,  2,  2,
        1,  2,  2,  1,  2,  2,  1,  2,  2,  1,  2,  2,  1,  1,  2,  2,  2,
        2,  2,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  2,  1,  1,  1,  1,
        1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,
        2,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        2,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,
        2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,
        1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  2,  1,  2,  1,  1,  1,  1,  1,  1,  2,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  2,  1,  1,  1,  1,  1,
        1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,
        1,  1,  1,  2,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,
        1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,
        1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  3,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  5,  5,  5,  5,  5,  5, 14, 14, 17, 14, 14, 17,
        9, 17, 17,  3,  5,  2,  2,  2,  1,  1,  1,  8,  8,  1,  1,  1,  8])

In [32]:
# Names
column_names = dicionario["Código\nda\nvariável"].dropna(axis=0)
column_names

2           V0001
29          V0024
30        UPA_PNS
31      V0006_PNS
32          V0015
          ...
3835       VDF003
3837       VDF004
3845       VDM001
3850       VDP001
3854       VDDATA
Name: Código\nda\nvariável, Length: 816, dtype: object

## 2. FWF

In [34]:
# FWF
df = pd.read_fwf(pnd_data_path,
                 header=None,
                 dtype=str,
                 widths=column_widths
)

In [35]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,806,807,808,809,810,811,812,813,814,815
0,11,1110011,110000016,0001,01,2019,06,1,1,1,...,12,1,2,3,10912213,2061,NaN,NaN,NaN,NaN
1,11,1110011,110000016,0001,01,2019,06,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,1110011,110000016,0001,01,2019,06,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,1110011,110000016,0001,01,2019,06,1,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,1110011,110000016,0001,01,2019,06,1,1,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN