# Attributes: Codes and Description for `multi-index`

## 1 Setup
- Libraries
- Paths
- Dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
pns_dictionary_path = '/workspaces/depressao-ibge-pns/data/pns-original/dictionary-pns-2019-cleaned.csv'

In [3]:
pns_dictionary = pd.read_csv(pns_dictionary_path, skiprows=2)

## 2 attribute codes

In [4]:
attribute_codes = pns_dictionary.Codigo.dropna(axis=0).str.strip()

display(
    f"Total of attribute codes: {len(attribute_codes.unique())}",
    pd.DataFrame(attribute_codes)
)

'Total of attribute codes: 1088'

         Codigo
1         V0001
28        V0024
29      UPA_PNS
30    V0006_PNS
31        V0015
...         ...
5196     VDL001
5199     VDM001
5204     VDP001
5208     VDR001
5218     VDDATA

[1088 rows x 1 columns]

## 3 Attribute descriptions

In [5]:
attribute_descriptions = pns_dictionary.Descricao.dropna(axis=0).str.replace(r"\n", "", regex=True).str.strip()

display(
    f"Total of attribute descriptions: {len(attribute_descriptions.unique())}",
    pd.DataFrame(attribute_descriptions)
)

'Total of attribute descriptions: 1030'

                                              Descricao
1                                  Unidade da Federação
28                                              Estrato
29                                                  UPA
30                  Número de ordem do domicílio na PNS
31                                   Tipo da entrevista
...                                                 ...
5196  Idade em meses das crianças nascidas no períod...
5199  Faixa de tempo gasto por dia no deslocamento c...
5204           Tipo de cigarro industrializado comprado
5208       Método contraceptivo mais eficaz que faz uso
5218  Data de geração do arquivo de microdados. Data...

[1088 rows x 1 columns]

## 4 Save `multi-index` tuple from Codigo, Descricao

In [6]:
# Dataframe
pns_multi_index = pd.DataFrame([attribute_codes, attribute_descriptions]).T
pns_multi_index

         Codigo                                          Descricao
1         V0001                               Unidade da Federação
28        V0024                                            Estrato
29      UPA_PNS                                                UPA
30    V0006_PNS                Número de ordem do domicílio na PNS
31        V0015                                 Tipo da entrevista
...         ...                                                ...
5196     VDL001  Idade em meses das crianças nascidas no períod...
5199     VDM001  Faixa de tempo gasto por dia no deslocamento c...
5204     VDP001           Tipo de cigarro industrializado comprado
5208     VDR001       Método contraceptivo mais eficaz que faz uso
5218     VDDATA  Data de geração do arquivo de microdados. Data...

[1088 rows x 2 columns]

In [7]:
# Save to CSV
codes_descriptions_path = '/workspaces/depressao-ibge-pns/data/pns-multi-index.csv'
pns_multi_index.to_csv(codes_descriptions_path, index=False, header=['Codigo', 'Descricao'])

# [END] 
> Now the ../data/`pns-multi-index`.csv is ready to be used by:
1. [**depression**.ipynb](/workspaces/depressao-ibge-pns/src/3-depression/depression.ipynb)